<div class="outer">
	<div class="container">
		<div class="row">
			<div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3" style="width: 844px; height: 390px;">
				<div class="panel border bg-white">
					<div class="panel-heading">
						<h3 class="pt-3 font-weigth-bold">Send Hoin</h3>
					</div>
					<div class="panel-body p-3">
						<form [formGroup]="sendHoinForm">
							<div class="row justify-content-center mx-3">

								<div class="form-group pt-3">
									<div class="input-field">
										<select class="form-control">
											<option default disabled> Select a wallet</option>
											<option *ngFor="let w of wallets" [ngValue]="w">{{w.wallet_name}}</option>
										</select>
									</div>
								</div>

								<div class="form-group pt-3">

									<div class="input-field"
										 [class.error]="sendHoinForm.controls['recipient'].dirty && sendHoinForm.hasError('required', 'recipient')">
										<input [(ngModel)]="recipient" formControlName="recipient" type="text"
											   placeholder="Public key recipient">
									</div>
								</div>
								<small
									*ngIf="sendHoinForm.controls['recipient'].dirty && sendHoinForm.hasError('required', 'recipient')"
									class="text-danger">*Recipient required</small>

								<div class="form-group pt-3">
									<div class="input-field"
										 [class.error]="sendHoinForm.controls['amount'].dirty && sendHoinForm.hasError('required', 'amount')">
										<input [(ngModel)]="amount_to_send" formControlName="amount" type="text"
											   placeholder="Amount">
									</div>
								</div>
								<small
									*ngIf="sendHoinForm.controls['amount'].dirty && sendHoinForm.hasError('required', 'amount')"
									class="text-danger">*Amount required</small>

								<small
									*ngIf="sendHoinForm.hasError('pattern', 'amount')"
									class="text-danger">*Fill in a validate amount</small>

								<small
									*ngIf="sendHoinForm.hasError('min', 'amount')"
									class="text-danger">*Amount must be greater than 0</small>

								<button (click)="sendHoin()" [disabled]="sendHoinForm.invalid" type="submit"
										class="btn btn-primary btn-block mt-5 w-100">Send
								</button>

							</div>
						</form>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
